/* Ajuste para navbar fija */
body {
    padding-top: 50px;
}

/* Hero */
.hero-section {
    background-color: #F8F6F0;
    padding: 40px 0;
    text-align: center;
}

/* Todas las secciones */
section {
    padding: 100px 0;
}

/* Carrusel */
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.navbar {

    background-color: #5B6243;
}


.navbar-nav .nav-link:hover {
    color: grey !important;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}


/* Desplazamiento suave al hacer clic en el menú */
html {
    scroll-behavior: smooth;
}

#servicios {
    background-color: #5B6243;
    color: white;
}

#nosotros {
    background-color: #F8F6F0;
    color: white;
}

#galeria {
    background-color: #31352E;
    color: #212529;
}

#contacto {
    background-color: #5B6243;
    color: white;
}

/* Galería */
#carouselGaleria img {
    height: 600px;
    object-fit: cover;
}

#carouselGaleria img {
    height: 600px;
    object-fit: cover;
}

@media (max-width: 768px) {
    #carouselGaleria img {
        height: 300px;
    }
}

.btn-blanco
{
    background-color: #212529;
}
